<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xenum.skyrim"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17"/>

    <application
        android:name=".com.xenum.skyrim.wifi.WiFiDirectApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".com.xenum.skyrim.wifi.WiFiDirectActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Holo">
         <!--   <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>

        <receiver android:name=".com.xenum.skyrim.wifi.WiFiDirectBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.p2p.STATE_CHANGED" />
                <action android:name="android.net.wifi.p2p.PEERS_CHANGED" />
                <action android:name="android.net.wifi.p2p.THIS_DEVICE_CHANGED" />
                <action android:name="android.net.wifi.p2p.CONNECTION_STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".ControllerActivity"
            android:theme="@android:style/Theme.Holo">
        </activity>

        <activity android:name=".com.xenum.skyrim.wifi.WifiMainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo">
        </activity>

        <activity
            android:name="com.xenum.skyrim.MaestroSSCActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo">

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <service android:enabled="true" android:name=".com.xenum.skyrim.wifi.FileTransferService" />
        <service android:enabled="true" android:name=".com.xenum.skyrim.wifi.ConnectionService" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>